<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Buy Products| Ishop </title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/index.css">
    <!-- <link rel="stylesheet" href="../static/footer.css"> -->


    <script src="../static/index.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>


<body>
    <header>
        {%include 'navbar.html'%}
    </header>
    <div class="container bg-dark pt-2">
        <h3 class="bg-dark p-3 mt-2 text-white">Latests Phones</h3>
        <section class="row">
            {% for phone in phones %}
            <div class="col-md-4">
                <div class="card shadow my-2 buycard">
                    <img src="../static/products/{{phone[8]}}" alt="" width="100%" height="400px"
                        style="border-radius: 15px;">
                    <h4 class="text-center text-white">{{phone[1]}}</h4>
                    <p class="badge bg-dark text-center">{{phone[6]}}</p>
                    <h5 class="text-center">Kshs {{phone[4]}}</h5>

                    <a href="/single_item/{{phone[0]}}" class="btn btn-success">View Product</a>

                </div>

            </div>
            {% endfor %}

        </section>
        <br>

        <h3 class="bg-dark p-3 mt-2 text-white">shoe Deals!</h3>
        <section class="row">
            {% for shoe in shoes %}
            <div class="col-md-4">
                <div class="card shadow my-2 buycard">
                    <img src="../static/products/{{shoe[8]}}" alt="" width="100%" height="400px"
                        style="border-radius: 15px;">
                    <h4 class="text-center text-danger">{{shoe[1]}}</h4>
                    <p class="badge bg-dark text-center">{{shoe[6]}}</p>
                    <h5 class="text-center">Kshs {{shoe[4]}}</h5>

                    <a href="/single_item/{{shoe[5]}}" class="btn btn-dark">View Product</a>

                </div>

            </div>
            {% endfor %}

        </section>

        <h3 class="bg-darkp-3 mt-2 text-white">car Deals!</h3>
        <section class="row">
            {% for car in cars%}
            <div class="col-md-4">
                <div class="card shadow my-2 buycard">
                    <img src="../static/products/{{car[8]}}" alt="" width="100%" height="400px"
                        style="border-radius: 15px;">
                    <h4 class="text-center text-white">{{car[1]}}</h4>
                    <p class="badge bg-dark text-center">{{car[6]}}</p>
                    <h5 class="text-center">Kshs {{car[4]}}</h5>

                    <a href="#" class="btn btn-dark">View Product</a>

                </div>

            </div>
            {% endfor %}
        </section>

        <h3 class="bg-dark p-3 mt-2 text-white">Accessories Deals!</h3>
        <section class="row">
            {% for accesory in accessories%}
            <div class="col-md-4">
                <div class="card shadow my-2 buycard">
                    <img src="../static/products/{{accesory[8]}}" alt="" width="100%" height="400px"
                        style="border-radius: 15px;">
                    <h4 class="text-center text-white">{{accesory[1]}}</h4>
                    <p class="badge bg-dark text-center">{{accesory[6]}}</p>
                    <h5 class="text-center">Kshs {{accesory[4]}}</h5>

                    <a href="#" class="btn btn-dark">View Product</a>

                </div>

            </div>
            {% endfor %}
        </section>
    </div>
    <section>
        {%include 'footer.html'%}
        
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>